@charset "UTF-8";
@import url(style_Reset.css);

h1 {
    text-align: center;
}

div#wrap {
    width: 1300px;
    padding: 20px;
    margin: 30px auto;

    border: 1px solid #000;
}

div#slide {
    width: 1200px;
    height: 300px;
    border: 4px solid #08f;
    margin: 0 auto;
    
    overflow: hidden;
}

div#shuttleFrame {
    width: 1200px;
    height: 900px;
    border: 4px solid #f80;
}

#shuttleFrame a {
    width: 1200px;
    height: 300px;
    display: inline-block;
    position: relative;
}

#slide #shuttleFrame a span {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 4px solid rgba(170, 170, 170, 0.77);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.77);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
